
<section>
    <div class="feed-wrapper">
        <div *ngFor="let feed of rssFeedsInCategorySelection; let i = index" class="feed">
            <div class="feed-header"><h3><a href="{{feed.link}}">{{feed.categories[0]}}</a></h3><span>{{feed.pubDate | date :'MMM dd yyyy | h:mm'}}</span></div>
            <img src="https://picsum.photos/id/{{i+30}}/300/200" />
            <div class="feed-content">
                <h2>{{feed.title}}</h2>
                <p [innerHTML]="feed.description"></p>
            </div>
        </div>
    </div>
</section>

